<link rel="stylesheet" href="./footer.component.css">

<!-- ======= Footer ======= -->
<footer id="footer_main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="footer-info">
            <h2>About company</h2>
            <p class="about_company" *ngFor="let info of informations">
              {{info.about_company}}
            </p>

          </div>
        </div>
        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Category</h4>
          <ul>
            <ng-container *ngFor="let category of productcategories">
              <li *ngIf="category.parent_id==0"><a [href]="['/category/'+category.slug]">{{category.name}}</a></li>
            </ng-container>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Contact Us</h4>
          <ul>

            <li><a [href]="['/Return-policy']">Refund & Returns Policy</a></li>
            <li><a [href]="['/Privacy-policy']">Terms Of Service</a></li>
            <li><a [href]="['/Terms-of-service']">Privacy Policy</a></li>
            <li><a [href]="['/Shipping-policy']">Shipping policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Social Media</h4>
          <div class="social-links ">
            <ng-container *ngFor="let social of socialLinks">
              <a *ngIf="social.status=='Enable'" class="social" [href]="[social.link]"><span [innerHTML]="social.name"></span></a>
            </ng-container>
          </div>
        </div>

      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->
