<link rel="stylesheet" href="./view-blog.component.css">
<app-navbar></app-navbar>
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Categories</h5>
          </div>
          <div class="card-body">
            <ng-container *ngFor="let category of blogcategories">
              <div class="form-check" style="margin: 0;">
                <input class="form-check-input" type="checkbox" [id]="category.id" [value]="category.id"
                  (change)="onCategoryChange(category.id, $event)">
                <label class="form-check-label" [for]="category.id">
                  {{ category.name }}
                </label>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card">
          <!-- Card Header -->
          <div class="card-header">
            <h5 class="card-title">Recent Post</h5>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <ng-container *ngFor="let allblog of newblogs">
              <div class="d-flex align-items-center">
                <a href="/blog/{{allblog.slug}}">
                  <!-- Blog Image -->
                  <img [src]="allblog.image" class="img-fluid rounded" id="Blog_Image" alt="Blog Image">
                </a>
                <!-- Blog Details -->
                <div id="info">
                  <p id="name">{{ allblog.name }}</p>
                  <h6 class="card-subtitle mb-2 text-muted">{{ allblog.created_at | date: 'MMM yyyy dd' }}</h6>
                  <ng-container *ngFor="let blogcategory of blogcategories">
                    <p id="blog_category" *ngIf="blogcategory.id==allblog.blog_category_id">{{blogcategory.name}}</p>
                  </ng-container>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-7 col-sm-2">
        <div class="section-title">
          <h2>Blogs</h2>
        </div>
        <div class="container">
          <div class="row">
            <ng-container *ngFor="let blog of filteredBlogs | paginate: { itemsPerPage: 12, currentPage: page }">
              <div class="col-md-4">
                <div class="card">
                  <div class="cardimage">
                    <a href="/blog/{{blog.slug}}">
                      <img [src]="blog.image" class="card-img-top" alt="...">
                    </a>
                  </div>
                  <div class="card-bodyd" id="card-blog">
                    <h5 id="blog-name">{{ blog.name }}</h5>
                    <h3>{{ blog.short_description }}</h3>
                    <p>{{ blog.created_at | date: 'MMM yyyy dd' }}</p>
                    <ng-container *ngFor="let blogcategory of blogcategories">
                      <p id="blog-category" *ngIf="blogcategory.id === blog.blog_category_id">{{ blogcategory.name }}</p>
                    </ng-container>
                  </div>
                  <div id="read">
                    <a href="/blog/{{blog.slug}}">
                      <h3>Read Full Blog</h3>
                    </a>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
          <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
<app-footer></app-footer>
