<link rel="stylesheet" href="./createcolor.component.css">

<app-header></app-header>
<main id="main" class="main mb-0">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mt-3">
              <h1 class="flex-grow-1" id="text">Add New Color</h1>
            </div>
            <form class="row g-3 mt-2 border-top border-dark" (ngSubmit)="save()" #colorForm="ngForm" method="POST"
              enctype="multipart/form-data">
              <div class="col-md-6">
                <label>Color Name</label>
                <input name="name" type="text" class="form-control" [(ngModel)]="color.name" required id="inputNanme4"
                  placeholder="Enter the Color Name" (ngModelChange)="clearError('name')">
                  <div *ngIf="formErrors.name" class="text-danger">
                    <p *ngFor="let error of formErrors.name">{{ error }}</p>
                  </div>
              </div>

              <div class="col-md-6">
                <label>Code</label>
                <input name="Code" type="text" class="form-control" id="inputNanme4" [(ngModel)]="color.code" required
                  placeholder="Code" (ngModelChange)="clearError('code')">
                  <div *ngIf="formErrors.code" class="text-danger">
                    <p *ngFor="let error of formErrors.code">{{ error }}</p>
                  </div>
              </div>
              <div class="text-center">
                <button name="btnSend" id="add" class="btn btn-primary w-25 mx-auto">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
