<link rel="stylesheet" href="./dashboard.component.css">

<app-header></app-header>
<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Total Orders</h5>
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>{{orderStats?.total_orders}} Order</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Total Order Users </h5>
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6> {{orderStats?.total_users}} User</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-md-4">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Total Order Sellers </h5>
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>{{orderStats?.total_sellers}} Seller</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Total Order Products </h5>
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>{{orderStats?.total_products}} Product</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-md-6">
        <div class="card info-card sales-card">
          <div class="card-body">
            <h5 class="card-title">Total Price</h5>
            <div class="d-flex align-items-center">
              <div class="ps-3">
                <h6>{{orderStats?.total_price}} EGP</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<main id="main" class="main">
  <div>
    <canvasjs-chart [options]="chartUser"></canvasjs-chart>
  </div>

  <div>
    <canvasjs-chart [options]="chartSeller"></canvasjs-chart>
  </div>

  <div>
    <canvasjs-chart [options]="chartProduct"></canvasjs-chart>
  </div>
</main>
