.canvasjs-chart-credit{
  color: transparent !important;
}
.card-title {
  padding: 20px 0 15px 0 !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  color: #012970 !important;
  font-family: "Poppins", sans-serif !important;
}

