#add {
  background-color: #F97300;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#text{
  color: #F97300;
}

.icon{
  font-size: 25px !important;
}
