<link rel="stylesheet" href="./update-home-slider.component.css">

<app-header></app-header>
<main id="main" class="main mb-0">
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="d-flex mt-3">
              <h1 class="flex-grow-1" id="text">Add New Image</h1>
            </div>
            <form class="row g-3 mt-2 border-top border-dark" (ngSubmit)="save()" #homesliderForm="ngForm" method="POST"
              enctype="multipart/form-data">
              <div class="col-md-12">
                <label>Upload Image</label>
                <input name="image" type="file" accept=".jpg,.jpeg,.png,.webp" class="form-control"
                  (change)="onFileChangeLogo($event)" id="inputNanme4" (ngModelChange)="clearError('slider_image')">
                <img *ngIf="homeslider.slider_image" [src]="homeslider.slider_image" alt="slider image"
                  style="max-width: 100px; max-height: 100px; object-fit: cover; margin-top: 10px;">
                <div *ngIf="formErrors.slider_image" class="text-danger">
                  <p *ngFor="let error of formErrors.slider_image">{{ error }}</p>
                </div>
              </div>
              <div class="col-md-12">
                <label>Order Image</label>
                <input name="order" type="text" [(ngModel)]="homeslider.order" required class="form-control"
                  id="inputNanme4" (ngModelChange)="clearError('order')">
                <div *ngIf="formErrors.order" class="text-danger">
                  <p *ngFor="let error of formErrors.order">{{ error }}</p>
                </div>
              </div>
              <div class="text-center">
                <button name="btnSend" id="add" class="btn btn-primary w-25 mx-auto">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
